@font-face {
  font-family: "StampatelloFaceto";
  src: url("/Fonts/StampatelloFacetoKern.otf") format("opentype");
}

* {
  font-family: "StampatelloFaceto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  line-height: 1.3;
  border: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

:root {
  --white-clr: #f8f2ed;
  --dark-clr: #222;
  --pink-clr: #f0dacb;
  --green-clr: #70806b;
  --box-shadow: 0 0.8rem 1rem rgba(240, 218, 203, 0.3);
  --logo-fz: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 - 300)));
  --biggest-fz: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 - 300)));
  --large-fz: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
  --medium-fz: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  --small-fz: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
  --number-icons: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 - 300)));
}

body {
  --sb-track-color: var(--dark-clr);
  --sb-thumb-color: var(--pink-clr);
  --sb-size: 1.2rem;
  background: var(--white-clr);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1rem;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1rem;
}

section {
  padding: 2rem 9pc;
  padding-right: 0%;
  padding-left: 0%;
}

/*header section start */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white-clr);
  width: 100%;
  height: 13%;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9%;
  padding-left: 3%;
  z-index: 9999999;
}

header .logo {
  font-size: var(--logo-fz);
  color: var(--dark-clr);
  padding-top: 2%;
}

header .logo .fa-tooth {
  font-size: var(--logo-fz);
  color: var(--white-clr);
}

header .logo .undertext {
  font-size: var(--medium-fz);
  vertical-align: top;
}

header .navbar {
  display: flex;
}

header .navbar li {
  margin: 0rem 1.5rem;
  list-style-type: none;
}

header .navbar li a {
  font-size: var(--medium-fz);
  color: var(--dark-clr); /* цвет шрифта в навигации */
  transition: 0.3s;
  padding: 0.7rem;
  background: linear-gradient(var(--green-clr) 0 0) 0 0,
    linear-gradient(var(--green-clr) 0 0) 0 0,
    linear-gradient(var(--green-clr) 0 0) 100% 100%,
    linear-gradient(var(--green-clr) 0 0) 100% 100%;
  background-repeat: no-repeat;
  background-size: 1.5rem 0.2rem, 0.2rem 1.5rem;
}

header .navbar li a:hover {
  color: var(--green-clr); /* цвет текста навигации при наведении */
  background-position: 100% 0%, 0% 100%, 0% 100%, 100% 0;
}

#menu-btn {
  color: var(--dark-clr);
  font-size: var(--medium-fz);
  cursor: pointer;
  border: 0.1rem solid var(--dark-clr);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  display: none;
}

/*header section end */

/*home section start */
.home {
  margin-top: 3.5%; /* Отступ сверху */
  height: 100vh; /* Высота экрана */
  background-color: var(--pink-clr); /* Цвет фона */
}

/* Стили для ряда внутри секции "home" */
.home .row {
  display: flex; /* Используем flexbox */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  flex-wrap: wrap-reverse; /* Обертывание элементов в обратном порядке при переносе */
  gap: 1.5rem; /* Отступы между элементами */
}

/* Стили для контента внутри ряда */
.home .row .content {
  flex: 1 1 40rem; /* Гибкость, базовый размер и максимальный размер */
  width: 50%; /* Ширина контейнера */
  text-align: center; /* Выравнивание текста по центру */
}

/* Стили для заголовка внутри контента */
.home .row .content h3 {
  margin-bottom: 1rem; /* Отступ снизу */
  color: var(--dark-clr); /* Цвет текста */
  font-size: var(--biggest-fz); /* Размер шрифта */
}

/* Стили для текста внутри контента */
.home .row .content p {
  margin-bottom: 1.5rem; /* Отступ снизу */
  color: var(--dark-clr); /* Цвет текста */
  font-size: var(--medium-fz); /* Размер шрифта */
}

/* Стили для изображения внутри ряда */
.home .row .homeimg {
  flex: 1 1 40rem; /* Гибкость, базовый размер и максимальный размер */
  text-align: center; /* Выравнивание текста по центру */
}

/* Стили для блока изображения */
.homeimg {
  width: 50%; /* Ширина блока */
  height: 96vh; /* Высота блока */
  background-color: var(--green-clr); /* Цвет фона */
  display: flex; /* Используем flexbox */
  flex-direction: column; /* Направление flexbox */
  justify-content: center; /* Выравнивание контента по центру по вертикали */
  align-items: center; /* Выравнивание контента по центру по горизонтали */
}

/* Стили для изображения в блоке изображения */
.homeimg img {
  border-radius: 50%/25%; /* Круглые углы */
  width: 50%; /* Ширина изображения */
  height: 70%; /* Высота изображения */
  margin: 2em auto; /* Отступы */
  border: .5rem solid var(--pink-clr); /* Рамка */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}

.homebtn {
  display: inline-block;
  margin: 1rem 1.5rem 0rem;
  border-radius: 5rem;
  color: var(--white-clr);
  background-color: var(--green-clr);
  font-size: var(--medium-fz);
  padding: 1rem 3rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: 0.3s;
}

.homebtn:hover {
  background-color: var(--white-clr);
  color: var(--green-clr);
}


/*home section mobile */
@media only screen and (max-width: 768px) {
  /* Для экранов шириной до 768px (мобильные устройства) */
  .home .row {
    flex-direction: column; /* Изменяем направление на вертикальное */
    gap: 0; /* Убираем отступы между элементами */
  }

  .home .row .content {
    order: 2; /* Изменяем порядок отображения */
    width: 100%; /* Ширина занимает всю доступную ширину */
    height: 10%;
    padding: 1.5rem; /* Добавляем отступы для разделения контента */
    margin-top: 10%;
  }

  /* Стили для блока с фотографией */
  .home .row .homeimg {
    order: 1; /* Изменяем порядок отображения */
    width: 100%; /* Ширина занимает всю доступную ширину */
    height: 60vh; /* Уменьшаем высоту блока с фотографией */
    padding: 1.5rem; /* Добавляем отступы для разделения контента */
    margin-top: 13%;
  }

  .homeimg img {
    border-radius: 50%/25%; /* Круглые углы */
    width: 60%; /* Ширина изображения */
    height: 80%; /* Высота изображения */
    margin: 2em auto; /* Отступы */
    border: .5rem solid var(--pink-clr); /* Рамка */
  }

  /* Стили для кнопок */
  .homebtn {
    margin: 1rem 0; /* Уменьшаем верхний и нижний отступ */
  }
}

/*home section end */

/*contacts section start */

.contacts .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.contacts .heading {
  font-size: var(--logo-fz);
  text-align: center;
  padding-top: 2%;
}

.contacts .row form {
  flex: 1 1 40rem;
  margin: 1rem 5rem;
  margin-left: 20%;
  margin-right: 20%;
  font-size: var(--medium-fz);
}

.contacts .row form .box {
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--green-clr);
  margin-bottom: 2rem;
  font-size: var(--medium-fz);
  height: 10%;
  padding-left: 10px;
}

.contacts .row form .box::placeholder {
  color: var(--pink-clr);
  padding: 1%;
}

.submit-btn {
  color: var(--dark-clr);
  font-size: var(--medium-fz);
  cursor: pointer;
  border: 0.1rem solid var(--dark-clr);
  padding: 0.5rem 1.5rem;
  margin-top: 10%;
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto;
}

.submit-btn:hover {
  background-color: var(--pink-clr);
  color: var(--green-clr);
}


.contacts .row form span {
  font-size: var(--small-fz);
  color: var(--black-clr);
}


/*contacts section end */


/*footer section start */

footer {
  text-align:  center;
  margin-top: 3rem;
  height: 4.5rem;
}

footer .share a {
  margin: 0rem 0.3em;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: var(--large-fz);
  color: var(--green-clr);
}

/*footer section end */

/* media queries */
@media (max-width: 768px) {
  #menu-btn {
    display: block;
  }

  header {
    padding: 1rem 2rem;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 0.1rem solid var(--white-clr);
    background-color: rgba(240,218,203);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar li {
    margin: 2rem;
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
