* {
 font-family: 'Sniglet', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: nine;
 line-height: 1.3;
 text-transform: capitalize;
 border: 0;
 outline: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

img {
    max-width: 100%
}

:root {
    --white-clr: #f2f2f2;
    --pink-clr: #222;
    --background-clr: #c67fa7;
    --box-shadow: 0 .8rem 1rem rgba(0,0,0,.7);
    --logo-fz: calc(18px + (30 - 18) * ((100vw - 300px) / (1600 -
    300)));
    --biggest-fz: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 -
    300)));
    --large-fz: calc(20px + (35 - 20) * ((100vw - 300px) / (1600 -
    300)));
    --medium-fz: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 
    300)));
    --small-fz: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 -
    300)));
    --number-icons: calc(25px + (40 - 25) * ((100vw - 300px) / (1600 -
    300)));
}

body {
    --sb-track-color: #222;
    --sb-thumb-color: var(--pink-clr);
    --sb-size: 1.2rem;
    background: var(whit);
}
 
body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1rem;
}

/*header section start */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--background-clr);
    width: 100%;
    height: 80px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 9%;
    z-index: 9999999;
}

header .logo {
    font-size: var(--logo-fz);
    color: var(--pink-clr);
}

header .logo .fa-tooth {
    color: var(--white-clr)
}

header .navbar {
    display: flex;
}

header .navbar li{
    margin: 0rem 1.5rem;
    list-style-type: none;
}

header .navbar li a{
    font-size: var(--medium-fz);
    color: var(--main-clr);
    transition: 0.3s;
    padding: 0.7rem;
    background: 
        linear-gradient(var(--pink-clr) 0 0) 0 0,
        linear-gradient(var(--pink-clr) 0 0) 0 0,
        linear-gradient(var(--pink-clr) 0 0) 100% 100%,
        linear-gradient(var(--pink-clr) 0 0) 100% 100%;
    background-repeat: no-repeat;
    background-size: 1.5rem .2rem, .2rem 1.5rem;
}

header .navbar li a:hover{
    color: var(--pink-clr);
    background-position: 100% 0%, 0% 100%, 0% 100%, 100% 0;
}

#menu-btn {
    color: var(--pink-clr);
    font-size: var(--medium-fz);
    cursor: pointer;
    border: .1rem solid var(--pink-clr);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    display: none;
}


/*header section end */


/* media queries */
@media (max-width: 768px) {
    #menu-btn {
        display: block;
    }

    header {
        padding: 1rem 2rem;
    }

    header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: .1rem solid var(--white-clr);
        border-bottom:  .1rem solid var(--white-clr);
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s ease-in-out;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar li {
        margin: 2rem;
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}